p:hover {
  color: 6537FF;
  font-weight: bold;
}


p::before {
  content: 'Hello ';
  color: blue;
  font-weight: bold;
}

p::after {
  content: 'Bye!';
  color: red;
  font-weight: bold;
}

p::selection {
  background-color: purple;
  color: white;
}
/*Visibility property*/
.visible
{
  visibility: visible;
}
.hidden {
  visibility:hidden;
}
/* Opacity */
.op_1 {
  opacity: 1;
}
op_0 {
  opacity: 0;
}
.op_5 {
  opacity: 0.5;
}
/* Display */
.none {
  display: none;
  font-weight: bold;
}
.inline {
  display: inline;
  font-weight: bold;
}
.block {
  display: block;
  font-wheight: bold;
}
h3 {
  background-color: salmon;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: rgb(141, 223, 255)
  height: 20px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.banner {
  background-color: rgb(141, 145, 255);
  height: 200px;
}
.content {
  background-color: rgb(122, 77, 255)
  height: 400px;
}

.footer {
  background-color: rgb(3, 1, 7);
  height: 20px;
  height: 100px;
}

img {
  width: 300px;
  filter: grayscale(5%) invert(2%) ; 
}

img#mirella:hoover {
    height: 300px;
    width: auto;
    filter: invert(0%);
}
.filtered-image {
    filter: invert(0%);
    animation: invertAnimation 2s forwards; /* Use the animation with keyframes */
}

@keyframes invertAnimation {
    to {
        filter: invert(100%);
    }
}
