p:hover {
  color: 6537FF;
  font-weight: bold;
}


p::before {
  content: 'Hello ';
  color: blue;
  font-weight: bold;
}

p::after {
  content: 'Bye!';
  color: red;
  font-weight: bold;
}

p::selection {
  background-color: purple;
  color: white;
}
